body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: auto;
    text-align: center;
}

nav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#navLogo{
    padding: 10%;
    width: 70%;
}

nav ul li a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: #818181;
    display: block;
}

main {
    margin-left: 25%; /* Same as the width of the sidebar */
}

h1{
    font-size: 50px;
    font-weight: bold;
}

.bookNowButton{
    width: 50%;
}

#landingPage{
    background-image: url("../images/godaddybg.png");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    width: 80%; /* Remaining width for the page (minus nav width) */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 10%;
    color: #ffffff;
}

#aboutUs{
    width: 40%;
    padding: 10%;
    margin-left:20%;
}

section ul li{
    text-align: left;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    nav {
        padding-top: 15px;
        height: 25%; /* remove this if you want "auto" height */
        width: 100%; /* Set the width of the top menu */
    }
    nav ul li a{font-size: 18px;}
    h1{font-size: 10px;}
    #aboutUs{width:90%;margin-left:0%;}
}